@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900");

body {
  background-color: #fff;
  color: #727272;
  margin: 5% 0 0 0;
  padding: 0;
  width: 100%;
  font: 14px/1.5 Lato, arial, sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #069;
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

strong {
  color: #222;
  font-weight: 700;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

@media screen and (max-width: 960px) {
  body > .content-wrapper, body > .banner-wrapper {
    position: static;
    width: auto;
    float: none;
  }

  .content-wrapper > .content {
    margin: 0 5%;
  }

  .banner-wrapper > .banner {
    text-align: left;
    margin: 0 6.25% 5% 6.25%;
  }
}

@media screen and (max-width: 720px) {
  html > body {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 580px) {
  .content > .project-preview {
    float: none;
    width: 100%;
    margin: 0 0 2.5% 0;
  }
}

.banner-wrapper {
  position: fixed;
  width: 30%;
  height: 100%;
  float: left;
}

.banner {
  text-align: right;
  margin-left: 35%;
  margin-right: 5%;
}

.content-wrapper {
  position: relative;
  width: 70%;
  float: right;
  overflow: visible;
  margin-bottom: 30px;
}

.content {
  margin-right: 15%;
  margin-left: 5%;
}

/* Override from theme defaults */
.project-body a:hover, .project-body a:focus, .project-preview > a:hover {
  color: #069 !important;
  font-weight: inherit !important;
}

h1 a, h1 a:hover {
  color: #222 !important;
}

/* Index */
.project-preview {
  float: left;
  width: 47.5%;
  margin: 0 1.25% 2.5% 1.25%;
}

.prev-desc {
  vertical-align: top;
}

/* Projects */
.vid-wrapper-wrapper-bv {
  display: flex;
  width: 100%;
}

.vid-wrapper-bv {
  width: 50%;
  align-items: stretch;
  padding-right: 15px;
}

.vid-wrapper-bv video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid-wrapper-yt {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.vid-wrapper-bf {
  position: relative;
  height: 0;
  padding-bottom: 52%;
}

.vid-wrapper-yt iframe, .vid-wrapper-bf video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
