---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

/* Override from theme defaults (use !important) */

// section {
//     width: 620px !important;
// }

// .wrapper {
//     width: 880px !important;
// }

.project-body a:hover, .project-body a:focus {
    color: #069 !important;
    font-weight: inherit !important;
}

section {
    border-bottom: inherit !important;
}

body {
    font-family: 'Lato', sans-serif !important;
}

h1 a, h1 a:hover {
    color: #222 !important;
}

header {
    text-align: right;
}

/* Index */

.project-preview {
    float: left;
    width: 45%;
    margin: 0 2.5% 2.5% 0;
}

.prev-desc {
    vertical-align: top;
}

/* Projects */

.yt-vid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.vid-wrapper {
	position: relative;
    padding-bottom: 52%;
	height: 0;
}

.yt-vid-wrapper iframe, .vid-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
