<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="0; url=/">
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/site.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82054601-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-82054601-2');
    </script>
  </head>

  <body>
    <div class="banner-wrapper">
      <div class="banner">
        <h1 id="banner-title"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        <div id="banner-desc">
          <p>
            CS '19 @ Stanford
            <br>
            Virtual & Augmented Reality
            <br>
          </p>
          <p>
            <i>Currently working on:</i>
            <br>
            <a href="https://brown.columbia.edu/propose/" target="_blank">Magic Grant</a> project to uncover untold stories with <a href="https://brown.columbia.edu/portfolio/charleston-reconstructed/" target="_blank"> site-specific AR</a>
            <br>
          </p>
          <p>
            <a href="/assets/misc/Kyle_Qian_Resume.pdf" target="_blank">Resume</a>
            <br>
            <a href="mailto:kylecqian@gmail.com">Email</a>
            <br>
            <a href="https://github.com/kyleqian" target="_blank">GitHub</a>
            <br>
          </p>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
