---
layout: default
---

<div class="back-to-index">
	<a href="/">← Back to Home</a>
</div>

<br>

{% if page.title_replacement_ %}
	<div><img src="{{ site.url }}{{ page.title_replacement_ }}"></div>
{% else %}
	<h1>{{ page.title }}</h1>
{% endif %}

<div class="project-subtitle"><i>
	{{ page.time_ }} | {{ page.tags_ }}

	{% if page.with_ %}
		<br>
		With {{ page.with_ }}
	{% endif %}

	{% if page.ext_links_ %}
		<br>
		{% assign ext_links = page.ext_links_ | split: ";" %}
		{% for ext_link in ext_links %}
			{% assign parsed_link = ext_link | split: "|" %}
			<a target="_blank" href="{{ parsed_link[1] }}">[{{ parsed_link[0] }}] </a>
		{% endfor %}
	{% endif %}
</i></div>

<div class="project-body">
	<p>{{ content }}</p>
</div>

<div class="project-footer">
	<div class="back-to-index">
		<a href="/">← Back to Home</a>
	</div>
</div>
