---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="project-subtitle"><i>
	{{ page.time_ }} | {{ page.tags_ }}

	{% if page.with_ %}
		<br>
		With {{ page.with_ }}
	{% endif %}

	{% if page.ext_link_ %}
		<br>
		{% assign parsed_ext_link = page.ext_link_ | split: "|" %}
		<a target="_blank" href="{{ parsed_ext_link[1] }}">> {{ parsed_ext_link[0] }}</a>
	{% endif %}
</i></div>

<div class="project-body">
	<p>{{ content }}</p>
</div>

<div class="project-footer">
	<a href="/projects">Back to Projects</a>
</div>
